<ion-view view-title="SalesMan Application">
  <ion-content class="padding">
    <div class="list card">
       <div class="item item-divider bar bar-header bar-assertive">SignIn</div>
      <div class="item item-body">
        <div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="email" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input ng-model="password" type="password">
          </label>
          <label class="item item-input">
            <span class="input-label"></span>
            <button class="button button-assertive item item-input" ng-click="signin(email, password)">
              Login
            </button>&nbsp;
            <!--<div>No Account?-->
              <!--<span ng-click="alert('hello')">Sign Up</span></div>-->
          </label>
        </div>
          <!-- There is a fire in <b>sector 3</b> -->
        </div>
      </div>
      <div class="item item-divider bar bar-header bar-assertive"></div>
    </div>

    <!-- <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
