<ion-view view-title="SalesMan Application">
    <ion-content class="padding">
        <div class="list card">
            <div  ng-click="logout()" class="item item-divider bar bar-header bar-assertive item-icon-right" icon="ion-share">
                Company Form
                <i class="icon ion-share"></i></div>
            <div class="item item-body">
                <div>
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">First Name</span>
                            <input ng-model="firstName" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Last Name</span>
                            <input ng-model="lastName" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input ng-model="email" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input ng-model="pass" type="password">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"></span>
                            <button class="button button-assertive item item-input" ng-click="signup(firstName, lastName, email, pass)">
                                Submit
                            </button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="item item-divider bar bar-header bar-assertive"></div>
        </div>
    </ion-content>
</ion-view>
