<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-positive">

  <!-- Signin Tab -->
  <ion-tab title="Sign In" icon="ion-log-in" href="#/tab/signin">
    <ion-nav-view name="tab-signin"></ion-nav-view>
  </ion-tab>

  <!-- Signup Tab -->
  <ion-tab title="Sign Up" icon="ion-archive" href="#/tab/signup">
    <ion-nav-view name="tab-signup"></ion-nav-view>
  </ion-tab>

  <ion-tab ng-hide="homeBtn" title="Home" icon="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

</ion-tabs>
